#auth {
	position: absolute;
	display: table;
	z-index: 1;
	padding: 0 var( --auth-padding );
	padding-bottom: calc( 2 * var( --auth-padding ) );
}
#authInnerWrap {
	display: table-cell;
	vertical-align: middle;
}

#authTitle,
#authAreas {
	margin: 0 auto;
	width: 100%;
	max-width: 700px;
	box-sizing: border-box;
}
#authTitle {
	font: 40px "Oswald";
	color: #fff;
	line-height: 1em;
	padding: var( --auth-padding );
}
#authAreas {
	display: grid;
	border-radius: 4px;
	padding: var( --auth-padding );
	grid-gap: var( --auth-padding );
	grid-template:
		"authSignup authLogin"
		"authUseapp authUseapp"
		/50%        50%;
	background-color: var( --auth-bg );
	box-shadow: 0 6px rgba( 0, 0, 0, .2 );
}

.auth-area {
	display: grid;
	grid-gap: var( --auth-padding );
	padding: var( --auth-padding );
	border-radius: 3px;
	align-content: flex-start;
}
#auth .form-title {
	text-align: center;
}
#auth form .form-title {
	margin-bottom: 1em;
}
.auth-area .btn {
	justify-self: center;
}

#authSignup {
	grid-area: authSignup;
	color: var( --auth-signup-text );
	background-color: var( --auth-signup-bg );
}
#authSignup .field-input {
	background-color: #fff;
}
#authLogin {
	grid-area: authLogin;
	padding-left: 0;
}
#authLoginForgot {
	text-align: right;
	font-size: 12px;
}

#authUseapp {
	grid-area: authUseapp;
	text-align: center;
}

@media ( max-width: 600px ) {
	#auth {
		padding: 0;
	}
	#authTitle {
		padding-bottom: 0;
	}
	#authAreas {
		background-color: transparent;
		box-shadow: none;
		grid-template:
			"authSignup"
			"authLogin"
			"authUseapp";
	}
	#authLogin {
		padding-left: var( --auth-padding );
		background-color: var( --auth-bg );
	}
	#authUseapp {
		color: var( --auth-bg );
	}
}
