body {
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	background-color: var( --app-bg );
}

#auth,
#main {
	position: relative;
	top: 0;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	box-sizing: border-box;
	visibility: hidden;
	opacity: 0;
	transition: var( --auth-show-dur );
	transition-property: visibility, opacity;
}
#auth.show,
#main.show {
	visibility: visible;
	opacity: 1;
}
