body {
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	background-color: var( --app-bg );
}

#auth,
#main {
	position: relative;
	top: 0;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	box-sizing: border-box;
	background-color: inherit;
	transition:
		visibility var( --auth-show-dur ),
		opacity var( --auth-show-dur ),
		top 0s var( --auth-show-dur );
}
#auth.hidden,
#main.hidden {
	visibility: hidden;
	opacity: 0;
	top: -100%;
}
