#footer {
	display: flex;
	position: relative;
	justify-content: center;
	box-sizing: border-box;
	margin-top: calc( var( --main-padding ) + 64px );
	padding: 16px 0;
	font-size: 14px;
	box-shadow: 0 -42px 60px -32px #fff5;
}
#footer::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	border-top: 1px solid;
	opacity: .1;
}

#footerContent {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
#footerSocialsLink {
	display: flex;
	justify-content: center;
	gap: 1em;
}
#footerSocialsLink a:hover {
	color: #ceb3e8;
}
#footerCopyright {
	font-size: 12px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	opacity: .8;
}
