#head {
	height: var( --head-height );
	display: flex;
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 0 0 var( --app-rad ) var( --app-rad );
	background-color: var( --head-bg );
}

/* .......................................................................... */
.headLink {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .2s;
	transition-property: color, opacity, background-color;
}
.headLink:hover {
	background-color: rgba( 255, 255, 255, .05 );
}
.headLink.selected {
	background-color: rgba( 51, 154, 240, .9 );
}
.headLink.selected:hover {
	background-color: rgb( 51, 154, 240 );
}

/* .......................................................................... */
#headIcon {
	width: var( --head-height );
}
#headIcon::before {
	content: "GS";
	font-size: 40px;
	font-family: "Oswald";
	line-height: 1em;
}

/* .......................................................................... */
#headUser {
	display: flex;
	align-items: center;
	padding: 0 var( --head-padding );
	font-size: 18px;
	margin-left: auto;
	user-select: none;
}
#headAvatar {
	width: 40px;
	height: 40px;
	margin-left: var( --head-padding );
	border-radius: 4px;
	background-size: contain;
	background-color: black;
}

/* .......................................................................... */
#headLogout {
	padding: 0 var( --head-padding );
	opacity: .5;
	cursor: pointer;
	color: var( --head-logout-text );
}
#headLogout:hover {
	opacity: 1;
	color: var( --head-logout-hover-text );
	background-color: var( --head-logout-hover-bg );
}
#headLogout::before {
	content: "\f2f5";
	font-size: 22px;
	font-family: "FA";
}
