#homePage {
	gap: 40px;
	line-height: 2em;
}

#homePage img {
	float: left;
	width: 76px;
	margin-right: var( --main-padding );
}

#homePage ul {
	margin: 0;
	padding: 0 0 0 16px;
}
#homePage li a:first-child {
	font-weight: bold;
}
#homePage li span {
	opacity: .7;
}
