#main {
	margin: 0 auto;
	max-width: var( --main-width );
	padding: var( --main-padding );
	color: #fff;
	background-color: rgba( 0, 0, 0, .1 );
}

#mainData {
	display: block;
	width: 600px;
	height: 140px;
	margin-bottom: var( --main-padding );
}
