.page,
.pageSection {
	display: flex;
	flex-direction: column;
	gap: var( --main-padding );
}
.pageSection {
	overflow: hidden;
	transition: .2s;
	transition-property: margin-top, max-height, opacity;
}
.pageSection.hidden {
	opacity: 0;
	max-height: 0;
	margin-top: calc( -1 * var( --main-padding ) );
}
.pageSectionTitle {
	display: flex;
	gap: .5ch;
	opacity: .4;
}
.pageSectionTitleValue {
	font-weight: bold;
}
.pageSectionTitleLabel {
	opacity: .7;
}
