@font-face {
	font-family: "FA";
	src: url( "../../daw/assets/fa-solid-900.woff" );
}

html,
body {
	min-height: 100%;
	scroll-behavior: smooth;
}
body {
	margin: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
