#userPage {
}

#userPageUser {
	display: grid;
	overflow: hidden;
	grid-column-gap: var( --userPageUser-padding );
	grid-template:
		"avatar info  edit" 1.5fr
		"avatar email edit" 1fr
		/ var( --userPageUser-height ) 1fr 0;
	position: relative;
	height: var( --userPageUser-height );
	border-radius: var( --app-rad );
	font-size: 14px;
	color: #333;
	background-color: #fff;
}
#userPageUser.me {
	grid-template-columns: var( --userPageUser-height ) 1fr 42px;
}

#userPageUserAvatar {
	grid-area: avatar;
	background-size: cover;
	background-color: #fff;
	background-position: center;
}

#userPageUserEdit {
	grid-area: edit;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	color: rgba( 0, 0, 0, .4 );
	border: 0;
	background-color: rgba( 0, 0, 0, .1 );
}
#userPageUserEdit::before {
	content: "\f304";
	font-size: 20px;
	font-family: "FA";
}

#userPageUserInfo {
	grid-area: info;
	display: flex;
	align-self: flex-end;
	align-items: baseline;
	font-size: 1.5em;
	min-width: 0;
}
#userPageUserUsername {
	font-size: 2em;
}
#userPageUserEmailAddr,
#userPageUserEmailNot,
#userPageUserLastname,
#userPageUserFirstname {
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#userPageUserLastname,
#userPageUserFirstname {
	margin-left: .4em;
}
#userPageUserEmail {
	grid-area: email;
	min-width: 0;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
#userPageUserEmailAddr:not(:empty)::before {
	content: "\f0e0\A0";
	font-family: "FA";
}
#userPageUserEmailAddr.private::before {
	content: "\f30d\A0";
}
#userPageUserEmailNot {
	color: #da6035;
	cursor: pointer;
	font-size: 12px;
}
#userPageUser:not( .me ) #userPageUserEmailAddr.private,
#userPageUser:not( .me ) #userPageUserEmailNot,
#userPageUserEmail:not( .toVerify ) #userPageUserEmailNot,
#userPageUserEmailNot.sended span:first-child,
#userPageUserEmailNot:not( .sended ) span:last-child {
	display: none;
}
#userPageUserEmailNot.loading::before {
	display: inline-block;
	content: "\f3f4";
	font-family: "FA";
	margin-right: .5em;
	animation: .7s linear infinite rotate360;
}

#userPageUserForm:not( .hidden ) {
	max-height: 600px;
}
#userPageUserForm .userPageSectionBody {
	display: grid;
	grid-gap: 20px;
	font-size: 12px;
	padding: var( --main-padding );
	border-radius: var( --app-rad );
	background-color: rgba( 0, 0, 0, .12 );
}
#userPageUserForm .field-label {
	opacity: .5;
}
#userPageGravatarLink::before {
	content: "\f411";
	font-family: "FAB";
}
#userPageUserFormBtns {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto;
	justify-content: flex-end;
}

.userPageCmp {
	display: flex;
	height: var( --userPageCmp-height );
	overflow: hidden;
	border-radius: var( --app-rad );
	background-color: var( --userPageCmp-bg );
}
.userPageCmp + .userPageCmp {
	margin-top: var( --main-padding );
}
.userPageCmpPlay {
	width: var( --userPageCmp-height );
	background-color: rgba( 0, 0, 0, .1 );
}
.userPageCmpMiddle {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: calc( var( --main-padding ) / 2 );
}
.userPageCmpName {
	font-size: 20px;
}
.userPageCmpInfos {
	display: flex;
	font-size: 14px;
	opacity: .7;
}
.userPageCmpBPM {
	margin-left: 1em;
}
.userPageCmpDur::before,
.userPageCmpBPM::before {
	font-family: "FA";
	margin-right: .5em;
	opacity: .5;
}
.userPageCmpDur::before { content: "\f2f2"; }
.userPageCmpBPM::before { content: "\f3fd"; }
/*.userPageCmpBPM::before { content: "\f709"; }*/

@media ( max-width: 450px ) {
	#userPageUser {
		height: auto;
		padding: var( --userPageUser-padding );
		grid-row-gap: var( --userPageUser-padding );
		grid-template:
			"avatar info" var( --userPageUser-height )
			"email  email" 1fr
			"edit   edit" 0
			/ var( --userPageUser-height ) 1fr;
	}
	#userPageUser:not( .me ) {
		padding-bottom: 0;
	}
	#userPageUser.me {
		grid-template-columns: var( --userPageUser-height ) 1fr;
		grid-template-rows: var( --userPageUser-height ) 1fr 1fr;
	}
	#userPageUserAvatar {
		border-radius: 4px;
	}
	#userPageUserInfo {
		flex-direction: column;
		align-self: center;
	}
	#userPageUserLastname,
	#userPageUserFirstname {
		margin-left: 0;
	}
	#userPageUserUsername {
		max-width: 100%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}
