#userPage {
}

#userPageUser {
	display: flex;
	overflow: hidden;
	position: relative;
	align-items: center;
	border-radius: var( --app-rad );
	font-size: 14px;
	color: #333;
	background-color: #fff;
}

#userPageUserAvatar {
	width: 120px;
	height: 120px;
	background-color: #fff;
	background-size: cover;
	background-position: center;
}
#userPageUserInfo {
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	flex-direction: column;
	padding: 0 var( --userPageUser-padding );
	max-width: 100%;
}

#userPageUserName {
	display: flex;
	align-items: baseline;
	font-size: 1.5em;
}
#userPageUserUsername {
	font-size: 2em;
}
#userPageUserEmailAddr,
#userPageUserEmailNot,
#userPageUserLastname,
#userPageUserFirstname {
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#userPageUserLastname,
#userPageUserFirstname {
	margin-left: .4em;
}
#userPageUserEmail {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	align-self: flex-start;
	line-height: 1.5em;
}
#userPageUserEmailAddr:not(:empty)::before {
	content: "\f0e0\A0";
	font-family: "FA";
}
#userPageUserEmailAddr.private::before {
	content: "\f30d\A0";
}
#userPageUserEmailNot {
	color: #da6035;
	cursor: pointer;
	font-size: 12px;
}
#userPageUserEmail:not( .toVerify ) #userPageUserEmailNot,
#userPageUserEmailNot.sended span:first-child,
#userPageUserEmailNot:not( .sended ) span:last-child {
	display: none;
}
#userPageUserEmailNot.loading::before {
	display: inline-block;
	content: "\f3f4";
	font-family: "FA";
	margin-right: .5em;
	animation: .7s linear infinite rotate360;
}

.userPageSectionTitle {
	margin: var( --main-padding ) 0;
	opacity: .4;
}
.userPageSectionTitleValue {
	font-weight: bold;
}
.userPageSectionTitleLabel {
	opacity: .7;
}

.userPageCmp {
	padding: calc( var( --main-padding ) / 2 );
	border-radius: var( --app-rad );
	background-color: var( --userPageCmp-bg );
}
.userPageCmp + .userPageCmp {
	margin-top: var( --main-padding );
}
.userPageCmpName {
	font-size: 20px;
}
.userPageCmpInfos {
	display: flex;
	font-size: 14px;
	opacity: .7;
}
.userPageCmpBPM {
	margin-left: 1em;
}
.userPageCmpDur::before,
.userPageCmpBPM::before {
	font-family: "FA";
	margin-right: .5em;
	opacity: .5;
}
.userPageCmpDur::before { content: "\f2f2"; }
.userPageCmpBPM::before { content: "\f3fd"; }
/*.userPageCmpBPM::before { content: "\f709"; }*/

@media ( max-width: 450px ) {
	#userPageUser {
		flex-direction: column;
		padding: calc( var( --userPageUser-padding ) / 1.5 );
	}
	#userPageUserAvatar {
		border-radius: 4px;
	}
	#userPageUserInfo {
		padding: 0;
	}
	#userPageUserName,
	#userPageUserEmail {
		align-items: center;
		flex-direction: column;
	}
	#userPageUserLastname,
	#userPageUserFirstname {
		margin-left: 0;
	}
}
