.userPageSection {
	margin-top: var( --main-padding );
	transition: .2s;
	transition-property: margin-top, max-height, opacity;
	overflow: hidden;
}
.userPageSection.hidden {
	opacity: 0;
	max-height: 0;
	margin-top: 0;
}
.userPageSectionTitle {
	margin-bottom: var( --main-padding );
	opacity: .4;
}
.userPageSectionTitleValue {
	font-weight: bold;
}
.userPageSectionTitleLabel {
	opacity: .7;
}
