RewriteEngine On
RewriteCond %{HTTPS} off          [OR]
RewriteCond %{HTTP_HOST} ^www\.   [NC]
RewriteRule ^ https://gridsound.com%{REQUEST_URI} [R=301,L,NE]

RewriteRule ^index\.html$ / [R=302,L]
RewriteRule ^daw(/.*|)$ https://daw.gridsound.com/ [R=302,L]
RewriteRule ^gammes(/.*|)$ https://gammes.gridsound.com/ [R=302,L]
RewriteRule ^soundbox(/.*|)$ https://soundbox.gridsound.com/ [R=302,L]

RewriteCond %{QUERY_STRING} .
RewriteRule ^ %{REQUEST_URI}? [R=302,L]

ErrorDocument 404 https://gridsound.com/#%{REQUEST_URI}

###################################################
##                                               ##
##     ↑ For production only,                    ##
##       the URL rewriting part.                 ##
##                                               ##
##     ↓ For production AND local,               ##
##       we need to be `crossOriginIsolated`     ##
##       to use the `SharedArrayBuffer`.         ##
##                                               ##
###################################################

<IfModule mod_headers.c>
	Header set Cross-Origin-Opener-Policy "same-origin"
	Header set Cross-Origin-Embedder-Policy "require-corp"
</IfModule>
