#samplesPage {
	flex: 1;
}

#samplesPageHead {
	position: sticky;
	z-index: 1;
	top: calc( var( --head-height ) + var( --main-padding ) - ( 10px + 32px ) * var( --y128 ) );
	padding-bottom: 8px;
	border-radius: 8px;
	background-color: var( --app-bg );
}

#samplesPageStorage {
	margin-right: auto;
}

#samplesPageGroups {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: inherit;

	&:empty {
		display: none;

		+ #samplesPagePH {
			display: flex;
		}
	}
}
#samplesPage[ data-loading ] #samplesPagePH {
	display: none;
}

gsco-samplegroup {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	background-color: #0005;
	--gsco-sg-pad: 8px;
	--gsco-sg-pad-bot: 18px;

	&:not( [ open ] ) {
		height: auto !important;

		gsco-samplegroup-body {
			display: none;
		}
		gsco-samplegroup-expand-grip {
			visibility: hidden;
		}
		gsco-samplegroup-name {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	&[ open ] {
		background-color: #0003;

		[ data-prop="expand" ] gsui-icon {
			rotate: 90deg;
		}
	}
	gsco-samplegroup-head {
		display: flex;
		min-height: 50px;
		box-sizing: border-box;
		align-items: center;
		padding: var( --gsco-sg-pad );
		gap: var( --gsco-sg-pad );

		[ data-prop="grip" ],
		[ data-prop="expand" ] {
			min-width: 22px;
			align-self: normal;
		}
		[ data-prop="grip" ] {
			margin-right: -8px;
		}
		> gsui-icon {
			font-size: 20px;
		}
	}
	[ data-prop="grip" ] {
		cursor: var( --gsuiCursor-move );
	}
	gsco-samplegroup-name {
		font-weight: bold;

		&:empty::before {
			content: "Untitled";
			font-style: italic;
			opacity: .5;
		}
	}
	gsco-samplegroup-info {
		margin-right: auto;
		font-size: 12px;
		white-space: nowrap;
		opacity: .5;
	}
	gsco-samplegroup-body {
		overflow: auto;
		display: flex;
		flex-direction: column;
		gap: 6px;
		flex: 1;
		height: 100px;
		margin: 0 var( --gsco-sg-pad ) var( --gsco-sg-pad-bot );
		border-radius: 8px;
		scrollbar-width: none;
	}
}
gsco-samplegroup-expand-grip {
	position: absolute;
	inset: calc( 100% - var( --gsco-sg-pad-bot ) ) 0 0;
	display: flex;
	justify-content: center;
	font-size: 10px;
	cursor: var( --gsuiCursor-ns-resize );
	opacity: .7;
}
gsco-samplegroup-placeholder {
	display: none;
	font-style: italic;
	align-items: center;
	justify-content: center;
	height: 100%;
	opacity: .5;

	&:only-child {
		display: flex;
	}
}

/* ........................................... */
gsco-sample {
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	min-height: 100px;
	border: 2px solid transparent;
	border-radius: inherit;
	transition: .2s border-color;
	outline: 0;

	&:focus-within {
		border-color: #fff4;
	}
}
gsco-sample-in {
	display: flex;
	flex-direction: column;
	height: 100%;
}
gsco-sample-head {
	display: flex;
	align-items: center;
	padding: 4px;
	gap: 6px;
	background-color: #fff2;

	[ data-prop="grip" ] {
		width: 16px;
	}
}
gsco-sample-name {
	font-weight: bold;
	font-size: 13px;
}
gsco-sample-info {
	display: flex;
	flex-direction: column;
	margin-right: auto;
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
	opacity: .5;

	> div {
		display: flex;
		gap: .7ch;
	}
}
gsco-sample-format {
	text-transform: uppercase;
}
gsco-sample-body {
	position: relative;
	flex: 1;
	display: flex;
	background-color: #fff1;
}
gsco-sample-player {
	position: absolute;
	inset: 0 1px;

	svg {
		position: absolute;
		width: 100%;
		height: 100%;
		fill: white;
	}
	gsco-sample-slider {
		position: absolute;
		inset: 0;
		cursor: var( --gsuiCursor-pointer );

		gsco-sample-cursor {
			position: absolute;
			inset: 0 auto;
			width: 2px;
			margin-left: -1px;
			background-color: #ff9;
			pointer-events: none;
			transition: opacity .2s;
		}
	}
}
