#homePage {
	gap: 0;
	user-select: none;
	-webkit-user-select: none;
}

/* .......................................................................... */
#homePage-title {
	margin-top: 30px;
	text-align: center;
	font-size: 46px;
	font-weight: 500;
}
#homePage-logo {
	position: relative;
	width: 100%;
	height: 82px;
	margin-top: 10px;
	margin-bottom: 40px;

	&::before {
		content: attr( data-content ) ":";
		position: absolute;
		left: 50%;
		top: -22px;
		font-size: 18px;
		margin-left: -166px;
	}
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background: center no-repeat url( "../../../assets/logo/gs-gridsound-logo.svg" );
		background-size: contain;
		filter: invert( 1 );
	}
}

/* .......................................................................... */
#homePage-anim {
	position: relative;
	height: 300px;
	margin-bottom: -50px;
}

/* .......................................................................... */
#homePage-anim-white-spot {
	--sz: 200px;
	position: absolute;
	bottom: -90px;
	left: 50%;
	width: var( --sz );
	height: var( --sz );
	margin-left: calc( var( --sz ) / -2 );
	border-radius: 50%;
	background-color: #fff;
	filter: blur( 20px );
	opacity: 0;
	transition: opacity 1s;

	.startAnim & {
		opacity: 1;
	}
	.loopAnim & {
		animation: homePage-anim-white-spot-anim 1.3s infinite linear alternate;
	}
}
@keyframes homePage-anim-white-spot-anim {
	000% { filter: blur( 20px ) }
	100% { filter: blur( 40px ) }
}

/* .......................................................................... */
#homePage-anim-lights {
	overflow: hidden;
	position: absolute;
	inset: -200px -20px 0;

	div {
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -150px;
		width: 300px;
		height: 400px;
		transform-origin: bottom;
		filter: blur( 10px );
		opacity: 0;
		transition:
			transform 1.5s,
			opacity 1.5s;

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background-image: linear-gradient( 0deg, #5300e9 20%, #4f47ff22 50%, transparent );
			clip-path: polygon( 0 0, 100% 0, 50% 100% );
		}
		.startAnim & {
			opacity: 1;

			&:nth-child( 1 ) { transform: rotate( -30deg ) }
			&:nth-child( 2 ) { transform: rotate( -15deg ) }
			&:nth-child( 4 ) { transform: rotate( +15deg ) }
			&:nth-child( 5 ) { transform: rotate( +30deg ) }
		}
		.loopAnim & {
			animation: homePage-anim-light-anim 2s infinite linear alternate;

			&:nth-child( 2 ) { animation-delay: -.5s }
			&:nth-child( 3 ) { animation-delay: -1s }
			&:nth-child( 4 ) { animation-delay: -2.5s }
			&:nth-child( 5 ) { animation-delay: -2s }
		}
	}
}
@keyframes homePage-anim-light-anim {
	000% { transform: rotate( -30deg ) }
	100% { transform: rotate( +30deg ) }
}

/* .......................................................................... */
#homePage-anim-stars {
	position: absolute;
	inset: 0;
	opacity: 0;
	scale: .95;
	transform-origin: bottom;
	transition:
		scale 1s,
		opacity 2s;

	.startAnim & {
		scale: 1;
		opacity: 1;
	}
	div {
		--sz: 4px;
		position: absolute;
		width: var( --sz );
		height: var( --sz );
		margin: calc( var( --sz ) / -2 ) 0 0 calc( var( --sz ) / -2 );
		border-radius: 50%;
		background-color: currentColor;

		&:nth-child(  1 ) { left: 20%; top: 57%; opacity: .3; }
		&:nth-child(  2 ) { left: 35%; top: 50%; opacity: .6; }
		&:nth-child(  3 ) { left: 55%; top: 65%; }
		&:nth-child(  4 ) { left: 80%; top: 20%; }
		&:nth-child(  5 ) { left: 90%; top: 40%; opacity: .4; }
		&:nth-child(  6 ) { left: 60%; top: 46%; opacity: .5; }
		&:nth-child(  7 ) { left: 10%; top: 15%; opacity: .4; }
		&:nth-child(  8 ) { left: 30%; top: 25%; }
		&:nth-child(  9 ) { left: 70%; top: 55%; }
		&:nth-child( 10 ) { left: 45%; top: 35%; }
		&:nth-child( 11 ) { left: 40%; top: 60%; }
		&:nth-child( 12 ) { left: 66%; top: 26%; opacity: .7; }
		&:nth-child( 13 ) { left: 50%; top: 10%; opacity: .4; }
		&:nth-child( 14 ) { left: 52%; top: 12%; opacity: .6; }
		&:nth-child( 15 ) { left: 33%; top: 62%; opacity: .8; }
		&:nth-child( 16 ) { left: 30%; top: 64%; opacity: .8; }
		&:nth-child( 17 ) { left: 85%; top: 60%; opacity: .4; }
	}
}

/* .......................................................................... */
#homePage-anim-icons {
	position: absolute;
	inset: 0;

	gsui-icon {
		position: absolute;
		top: 100%;
		left: 50%;
		margin-top: 0;
		margin-left: -.5em;
		font-size: min( 64px, 10vw );
		opacity: 0;
		transition: 1.2s;
		transition-property: transform, opacity, left, top;

		.startAnim & {
			opacity: 1;

			&[ icon="cu-waveform" ] { left: 10%; top: 30%; rotate:  23deg; }
			&[ icon="piano" ]       { left: 67%; top:  5%; rotate:  -8deg; transition-delay: .05s; }
			&[ icon="drum" ]        { left: 34%; top:  2%; rotate: -30deg; transition-delay: .15s; }
			&[ icon="amp-guitar" ]  { left: 89%; top: 26%; rotate:  20deg; transition-delay: .18s; }
			&[ icon="mixer" ]       { left: 31%; top: 36%; rotate: -35deg; transition-delay: .22s; }
			&[ icon="music" ]       { left: 49%; top: 26%; rotate:  12deg; transition-delay: .35s; }
			&[ icon="sax-hot" ]     { left: 68%; top: 39%; rotate:  12deg; transition-delay: .35s; }
		}
		.loopAnim & {
			animation: homePage-anim-icon-anim 3s infinite alternate;

			&:nth-child( 2 ) { animation-delay: .25s }
			&:nth-child( 3 ) { animation-delay: .5s }
			&:nth-child( 4 ) { animation-delay: .75s }
			&:nth-child( 5 ) { animation-delay: 1s }
			&:nth-child( 6 ) { animation-delay: 1.25s }
			&:nth-child( 7 ) { animation-delay: 1.5s }
		}
	}
}
@keyframes homePage-anim-icon-anim {
	000% { margin-top: 0 }
	100% { margin-top: -20px }
}

/* .......................................................................... */
#homePage-screen {
	position: relative;
	z-index: 0;
	display: flex;
	align-items: center;
	margin: auto;

	&:has( a:active ) {
		transform: translateY( 10px );
	}
	a {
		font-size: 0;
	}
	img {
		position: relative;
		z-index: 1;
		box-sizing: border-box;
		max-width: 520px;
		width: 100%;
		margin: auto;
		border: 2px solid #0005;
		border-radius: 10px;
		opacity: 0;
		transform: translateY( -20px );
		transition:
			transform .25s,
			opacity .25s;

		.startAnim & {
			opacity: 1;
			transform: translateY( 0 );
		}
	}
}
#homePage-screen-blur {
	position: absolute;
	inset: -20px;
	border-radius: 50px;
	filter: blur( 80px );
	background-image: linear-gradient( 45deg, #9100ff, #ff007a );
}
#homePage-screen-brd {
	position: absolute;
	inset: -10px;
	padding: 10px;
	border-radius: 10px;
	background-color: #fff2;
	background-repeat: no-repeat;
	background-position-y: 200px;
	background-image: linear-gradient( 0deg, #fff8, transparent 90% );
	opacity: 0;
	transform: translateY( 20px );
	transition:
		background-position .2s,
		transform .25s,
		opacity .25s;

	.startAnim & {
		opacity: 1;
		transform: translateY( 0 );
	}
	a:hover ~ & {
		animation: homePage-screen-brd-anim .5s infinite alternate;
	}
}
@keyframes homePage-screen-brd-anim {
	000% { background-position-y: 200px }
	100% { background-position-y:   0 }
}

/* .......................................................................... */
#homePage-trySynth {
	margin-top: 100px;
	margin-bottom: 40px;

	> div {
		position: relative;
		width: 114px;
		height: 57px;
		font-size: 16px;
		filter: drop-shadow( 0 0 6px #ff5 );

		&::before {
			position: absolute;
			top: 22px;
			left: 24px;
			content: "";
			width: 96px;
			height: 24px;
			border: 0 dotted;
			border-bottom-left-radius: 99px;
			border-width: 0 0 4px 4px;
		}
	}
	gsui-joystick {
		width: 120px;
		height: 120px;
		border-radius: 8px;
		background-color: #0005;
		--gsuiRipple-bg: #ff85;

		&[ moving ] {
			--gsuiJoystick-anim-speed: 1;
			--gsuiJoystick-anim-opacity: .5;
			animation: gsuiJoystick-anim-bg linear infinite calc( 1s / var( --gsuiJoystick-anim-speed ) );
		}
	}
}
@keyframes gsuiJoystick-anim-bg {
	000% { background-color: #0005 }
	050% { background-color: rgb( 255 255 180 / var( --gsuiJoystick-anim-opacity ) ) }
	100% { background-color: #0005 }
}
