#userPageTop {
	position: sticky;
	z-index: 1;
	top: calc( var( --head-height ) + var( --main-padding ) - ( 10px + 32px ) * var( --y128 ) );
	height: calc( 142px + 20px + 18px );
	display: flex;
	flex-direction: column;
	gap: calc( var( --main-padding ) * ( 1 - var( --y32 ) ) );
	pointer-events: none;
}

/* .......................................................................... */
#userPageProfile {
	--rad: calc( var( --app-rad ) * ( 1 - var( --y32 ) ) );
	--gsuiComProfile-radius: var( --app-rad ) var( --app-rad ) var( --rad ) var( --rad );
	--gsuiComProfile-height-mul: calc( 1 - var( --y128 ) );
	pointer-events: auto;
}

/* .......................................................................... */
#userPageProfileMenu {
	--rad: calc( var( --app-rad ) * var( --y32 ) );
	position: relative;
	overflow: hidden;
	display: flex;
	gap: 20px;
	min-height: 18px;
	padding: calc( 8px * var( --y32 ) ) calc( 10px * var( --y32 ) );
	border-radius: 0 0 var( --rad ) var( --rad );
	pointer-events: auto;

	#userPage:has( gsui-com-player[ data-head-sticky-shadow="bottom" ] ) & {
		box-shadow: 0 12px 0 var( --app-bg );
	}
}
#userPageProfileMenuBg {
	position: absolute;
	inset: 0;
	background-color: #32374c;
	opacity: var( --y32 );
}

/* .......................................................................... */
.userPageProfileMenu-btn {
	z-index: 1;
	display: flex;
	gap: 4px;
	border: 0;
	padding: 0;
	color: inherit;
	font: inherit;
	font-size: 14px;
	text-decoration: none;
	opacity: .3;
	background: none;

	span:first-child {
		font-weight: bold;
	}
	span:last-child {
		opacity: .7;
	}
	&[ data-action="cmpsLiked" ] {
		margin-left: auto;
	}
	#userPage:not( [ data-itsme ][ data-premium ] ) &[ data-action="cmpsDeleted" ] {
		display: none;
	}
	body:not( [ data-hash$="/bin" ] ):not( [ data-hash$="/likes" ] ) &[ data-action="cmps" ],
	[ data-hash$="/bin" ] &[ data-action="cmpsDeleted" ],
	[ data-hash$="/likes" ] &[ data-action="cmpsLiked" ] {
		opacity: 1;
	}
}

/* .......................................................................... */
gsui-com-player[ playing ] {
	position: sticky;
	z-index: 1;
	top: 170px;
	bottom: 0px;

	#searchPage & {
		top: 142px;
	}
}
#userPagePlaylist {
	display: flex;
	flex-direction: column;
	gap: inherit;

	body[ data-hash$="/likes" ] & gsui-com-userlink {
		margin-top: -8px;
		margin-top: 0;
		margin-bottom: 16px;
	}
}

/* .......................................................................... */
#userPageEditForm {
	font-size: 12px;

	label {
		display: flex;
		flex-direction: column;
		gap: 6px;

		> span:first-child {
			font-weight: bold;
		}
	}
	input:not( [ type="checkbox" ] ) {
		border: 0;
		border-radius: 6px;
		height: 32px;
		padding: 0 8px;
		font: inherit;
		background-color: #0005;
	}
}
