#userPageProfileMenu {
	display: flex;
	gap: 20px;
}

/* .......................................................................... */
.userPageProfileMenu-btn {
	display: flex;
	gap: 4px;
	border: 0;
	padding: 0;
	color: inherit;
	font: inherit;
	font-size: 14px;
	text-decoration: none;
	opacity: .3;
	background: none;

	span:first-child {
		font-weight: bold;
	}
	span:last-child {
		opacity: .7;
	}
	&[ data-action="cmpsLiked" ] {
		margin-left: auto;
	}
	#userPage:not( [ data-itsme ][ data-premium ] ) &[ data-action="cmpsDeleted" ] {
		display: none;
	}
	body:not( [ data-hash$="/bin" ] ):not( [ data-hash$="/likes" ] ) &[ data-action="cmps" ],
	[ data-hash$="/bin" ] &[ data-action="cmpsDeleted" ],
	[ data-hash$="/likes" ] &[ data-action="cmpsLiked" ] {
		opacity: 1;
	}
}

/* .......................................................................... */
#userPagePlaylist {
	display: flex;
	flex-direction: column;
	gap: inherit;

	body[ data-hash$="/likes" ] & gsui-com-userlink {
		margin-top: -8px;
		margin-top: 0;
		margin-bottom: 16px;
	}
}
