#head {
	height: var( --head-height );
	display: flex;
	margin-bottom: var( --main-padding );
	border-radius: 0 0 var( --app-rad ) var( --app-rad );
	font-size: 22px;
	background-color: var( --head-bg );
}

/* .......................................................................... */
#headSep {
	flex: 1;
	border: var( --head-brd );
	border-width: 0 1px;
	background-color: #0001;
}

/* .......................................................................... */
.headLink {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 0 var( --head-padding );
	transition: .2s;
	transition-property: color, background-color, filter;
	background-color: var( --bg, transparent );
}
.headLink + .headLink {
	border-left: var( --head-brd );
}
.headLink:not( .selected ):hover {
	--bg: rgba( 255, 255, 255, .05 );
}
.headLink.selected {
	--bg: var( --head-selected-bg );
	cursor: default;
}

/* .......................................................................... */
#headIcon {
	position: relative;
	border-bottom-left-radius: inherit;
}
#headIcon::before {
	content: "";
	width: 48px;
	height: 100%;
	filter: invert( 1 );
	background: center no-repeat url( "../../assets/logo/gs-gs-logo.svg" );
}

/* .......................................................................... */
#headNewCmp {
	position: relative;
	width: 42px;
	font-size: 24px;
}
#headNewCmp .gsuiIcon + .gsuiIcon {
	position: absolute;
	font-size: 12px;
	margin-left: 22px;
	margin-top: 16px;
}
#headNewCmp .gsuiIcon:nth-child( 2 ) {
	margin-left: 20px;
	margin-top: 14px;
	color: var( --head-bg );
}
#headNewCmp .gsuiIcon:nth-child( 3 ) {
	opacity: .6;
}

/* .......................................................................... */
#headUser {
	display: flex;
	align-items: center;
	gap: var( --head-padding );
	font-size: 18px;
	color: inherit;
	user-select: none;
	-webkit-user-select: none;
}
.noauth #headUser {
	display: none;
}
#headAvatar {
	width: 40px;
	height: 40px;
	min-width: 40px;
	border-radius: 4px;
	color: inherit;
}

/* .......................................................................... */
#headAuth {
	border-bottom-right-radius: inherit;
}
#headAuth:hover,
#headAuth.selected {
	background-color: var( --head-logout-hover-bg );
}
