#headWrap {
	position: sticky;
	top: 0;
	z-index: 1;
	height: var( --head-height );
	margin-bottom: var( --main-padding );
	pointer-events: none;
	transition: background-color .4s;

	body:not( [ data-hash="#/" ] ) & {
		background-color: var( --app-bg );
	}
}
#head {
	position: absolute;
	inset: 0;
	display: flex;
	height: calc( var( --head-height ) - 32px * var( --y128 ) );
	border-radius: 0 0 var( --app-rad ) var( --app-rad );
	font-size: 22px;
	background-color: var( --head-bg );
	pointer-events: auto;

	body[ data-hash="#/" ] & {
		box-shadow: 0 10px 20px #0005;
	}
}

/* .......................................................................... */
[ data-head-sticky-shadow="top" ] { --mul: -1 }
[ data-head-sticky-shadow="bottom" ] { --mul: 1 }
[ data-head-sticky-shadow*="to" ] {
	box-shadow:
		0 calc( ( 4px +  0px ) * var( --mul ) ) 0 var( --app-bg ),
		0 calc( ( 4px +  2px ) * var( --mul ) ) 0 var( --head-bg ),
		0 calc( ( 4px + 16px ) * var( --mul ) ) 0 rgb( var( --app-bg-rgb ) / .9 );
}

/* .......................................................................... */
#headSep {
	flex: 1;
	border: var( --head-brd );
	border-width: 0 1px;
	background-color: #0001;
}

/* .......................................................................... */
.headLink {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 0 var( --head-padding );
	transition: .2s;
	transition-property: color, background-color, filter;
	background-color: var( --bg, transparent );
}
.headLink + .headLink {
	border-left: var( --head-brd );
}
.headLink:not( .selected ):hover {
	--bg: rgba( 255, 255, 255, .05 );
}
.headLink.selected {
	--bg: var( --head-selected-bg );
	cursor: default;
}

/* .......................................................................... */
#headIcon {
	position: relative;
	width: 64px;
	padding: 0;
	border-bottom-left-radius: inherit;
}
#headIcon::before {
	content: "";
	width: 48px;
	height: 100%;
	filter: invert( 1 );
	background: center no-repeat url( "../../assets/logo/gs-gs-logo.svg" );
}

/* .......................................................................... */
#headNewCmp {
	position: relative;
	width: 42px;
	font-size: 24px;
}
#headNewCmp .gsuiIcon + .gsuiIcon {
	position: absolute;
	font-size: 12px;
	margin-left: 22px;
	margin-top: 16px;
}
#headNewCmp .gsuiIcon:nth-child( 2 ) {
	margin-left: 20px;
	margin-top: 14px;
	color: var( --head-bg );
}
#headNewCmp .gsuiIcon:nth-child( 3 ) {
	opacity: .6;
}

/* .......................................................................... */
#headUser {
	display: flex;
	align-items: center;
	gap: var( --head-padding );
	font-size: 18px;
	color: inherit;
	user-select: none;
	-webkit-user-select: none;
}
.noauth #headUser {
	display: none;
}
#headAvatar {
	width: 40px;
	height: 40px;
	min-width: 40px;
	border-radius: 4px;
	color: inherit;
}

/* .......................................................................... */
#headAuth {
	border-bottom-right-radius: inherit;
}
#headAuth:hover,
#headAuth.selected {
	background-color: var( --head-logout-hover-bg );
}
