html {
	overflow-y: scroll;
	height: 100%;
	background-color: var( --app-bg );
}
html,
body {
	min-height: 100%;
	scroll-behavior: smooth;
}
body {
	margin: 0;
	font-size: 14px;
	font-family: var( --gsui-font );
}

* {
	scrollbar-width: thin;
}

a {
	color: inherit;
	text-decoration: none;
}
