html {
	overflow-y: scroll;
	height: 100%;
	background-color: var( --app-bg );
}
html,
body {
	/*overflow-x: hidden; check on safari */
	min-height: 100%;
	scroll-behavior: smooth;
}
body {
	/*overflow: hidden; check on safari */
	margin: 0;
	font-size: 14px;
	font-family: var( --gsui-font );
}

* {
	scrollbar-width: thin;
}

a {
	color: inherit;
	text-decoration: none;
}
a.highlight {
	color: #9df;
}
a.highlight:hover {
	text-decoration: underline;
}
