:root {
	--app-rad: 6px;
	--app-bg: #1b1b31;
	--a-text-light: #9df;
	--a-text-dark: #77c;
	--form-error-color: #ee5f5f;

	--main-width: 640px;
	--main-padding: 20px;

	--head-height: 80px;
	--head-padding: 10px;
	--head-logout-hover-bg: #ee5f5f;
	--head-logout-hover-text: #fff;
	--head-logout-text: #000;
	--head-selected-bg: #2e355b;
	--head-bg: #3b456e;

	--auth-bg: #fff;
	--auth-text: #333;
	--auth-show-dur: .3s;
	--auth-padding: 10px;
	--auth-signup-bg: #607d8b;
	--auth-signup-text: #fff;

	--cmp-height: 64px;
	--cmp-bg: #2e355b;
	--cmp-bgGrad: linear-gradient(45deg, #0003, transparent);
}
