gsui-com-player[ playing ] {
	z-index: 1;

	#userPage &,
	#searchPage & {
		position: sticky;
		top: 170px;
		bottom: 0;
	}
	#searchPage & {
		top: 142px;
	}
}

.cmp-likes {
	font-size: 12px;

	&:not( :empty )::before {
		content: "Liked by: ";
		opacity: .4;
	}
	a {
		font-weight: bold;
		opacity: .8;

		&:hover {
			text-decoration: underline;
			opacity: 1;
		}
	}
}
