.player {
	display: flex;
	flex-direction: column;
	gap: inherit;

	&:has( gsui-com-player[ playing ] ) {
		z-index: 1;

		#userPage &,
		#searchPage & {
			position: sticky;
			top: 170px;
			bottom: 0;
		}
		#searchPage & {
			top: 142px;
		}
	}
	.forkedfrom,
	.likes {
		margin-top: -12px;

		&::before {
			margin-right: 8px;
			font-size: 10px;
			font-weight: bold;
			text-transform: uppercase;
			opacity: .5;
		}
	}
	.forkedfrom {
		display: flex;
		align-items: baseline;

		gsui-com-player[ data-head-sticky-shadow ] + & {
			visibility: hidden;
		}
		&::before {
			content: "forked from";
		}
		> span::before {
			content: "\A0·\A0";
			opacity: .5;
		}
		a:hover { text-decoration: underline; }
		a:last-child { font-style: italic; }
		a:empty::before { content: "???"; }
	}
	.likes {
		font-size: 12px;

		&:not( :empty )::before {
			content: "Liked by";
		}
		span::before {
			content: ", ";
			opacity: .5;
		}
		a {
			font-weight: bold;
			opacity: .8;

			&:hover {
				text-decoration: underline;
				opacity: 1;
			}
		}
	}
}
