.player {
	display: flex;
	flex-direction: column;
	gap: inherit;
	border-radius: 6px;
	background-color: var( --app-bg );

	&:has( [ deleting ], [ restoring ] ) > div {
		opacity: 0;
	}
	&:has( [ playing ] ) {
		z-index: 1;
		position: sticky;
		bottom: 0;

		#userPage & { top: 170px }
		#searchPage & { top: 142px }
		#explorePage & { top: 90px }
	}
	&[ data-head-sticky-shadow="bottom" ] {
		.forkedfrom,
		gsui-com-userlink {
			margin-left: 8px;
		}
	}
	.forkedfrom,
	.likes {
		margin-top: -12px;

		> b {
			margin-right: 8px;
			font-size: 10px;
			text-transform: uppercase;
			opacity: .5;

			&:only-child {
				display: none;
			}
		}
	}
	.forkedfrom {
		display: flex;
		align-items: baseline;

		> span::before {
			content: "\A0·\A0";
			opacity: .5;
		}
		a:hover { text-decoration: underline; }
		a:last-child { font-style: italic; }
		a:empty::before { content: "???"; }
	}
	.likes {
		font-size: 12px;

		span::before {
			content: ", ";
			opacity: .5;
		}
		a {
			font-weight: bold;
			opacity: .8;

			&:hover {
				text-decoration: underline;
				opacity: 1;
			}
		}
	}
}
