#searchPageForm {
	position: sticky;
	z-index: 1;
	top: calc( var( --head-height ) + var( --main-padding ) - ( 10px + 32px ) * var( --y128 ) );
	gap: calc( var( --main-padding ) - 10px * var( --y128 ) );
	display: flex;
	flex-direction: column;
	border-radius: var( --app-rad );
	background-color: var( --app-bg );
}

#searchPageFormFilter {
	display: flex;
	gap: 36px;

	label {
		display: flex;
		gap: 8px;
		cursor: pointer;
	}
	input {
		margin: 0;
	}
}

#searchPageFormBody {
	display: flex;
	height: 48px;
}
#searchPageFormQ {
	flex: 1;
	border: 0;
	outline: 0;
	min-width: 0;
	border-radius: 8px 0 0 8px;
	padding: 12px;
	font-size: 20px;
	background-color: #fff1;

	&::placeholder {
		font-style: italic;
	}
}
#searchPageFormSubmit {
	width: 42px;
	padding: 0;
	border: 0;
	border-radius: 0 8px 8px 0;
	font-size: 22px;
	cursor: pointer;
	background-color: #fff3;
}

/* .......................................................................... */
#searchPageResultIntro {
	padding: 0 1px;

	b {
		font-style: italic;
	}
}
#searchPageResult {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
