#authPage,
#resetpassPage,
#forgotpassPage {
	display: flex;
	box-sizing: border-box;
	color: var( --auth-text );
	border-radius: var( --app-rad );
	padding: var( --main-padding );
	background-color: var( --auth-bg );
}
#authPage {
	flex-direction: row;
	gap: 0;
}

/* ......................................................................... */
#forgotpassPage.sended #forgotpassFormSubmit,
#forgotpassPage.sended .form-intro div:first-child,
#forgotpassPage:not( .sended ) .form-intro div:last-child {
	display: none;
}

/* ......................................................................... */
#resetpassPage.sended #resetpassFormSubmit,
#resetpassPage.sended .field,
#resetpassPage.sended .form-intro div:first-child,
#resetpassPage.sended .form-btns button,
#resetpassPage:not( .sended ) .form-intro div:last-child,
#resetpassPage:not( .sended ) .form-btns a {
	display: none;
}

/* ......................................................................... */
#authPage a {
	color: var( --a-text-dark );
}
#authPageSignup {
	grid-area: authPageSignup;
	color: var( --auth-signup-text );
	background-color: var( --auth-signup-bg );
}
#authPageSignup .field-input {
	background-color: #fff;
}
#authPageSignup .form-error {
	color: #fff;
}

#authPageLogin {
	grid-area: authPageLogin;
	background-color: var( --auth-bg );
}
#authPageLoginForgot {
	text-align: right;
	font-size: 12px;
}
@media ( max-width: 600px ) {
	#authPage {
		flex-direction: column;
		gap: var( --main-padding );
		padding: 0;
		background-color: transparent;
	}
}
