#footer {
	position: relative;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	margin-top: calc( var( --main-padding ) + 64px );
	padding: 16px 0;
	font-size: 14px;
	box-shadow: 0 -42px 60px -32px #fff5;
}
#footer::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	border-bottom: 1px solid;
	opacity: .1;
}

#footerSocialsLink {
	display: flex;
	justify-content: space-between;
	width: 300px;
	max-width: 100%;
}
#footerSocialsLink a:hover {
	color: #ceb3e8;
}

#footerCopyright {
	font-size: 12px;
	text-align: center;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	opacity: .8;
}
