#main {
	--page-trans-dur: .3s;
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	max-width: var( --main-width );
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 var( --main-padding );
	color: #fff;
}

/* .......................................................................... */
#pages {
	position: relative;
	flex: 1;
	margin-bottom: auto;
}
.page {
	display: flex;
	flex-direction: column;
	gap: var( --main-padding );
}

/* .......................................................................... */
.page,
#error,
#loader {
	transition:
		var( --page-trans-dur ) opacity,
		var( --page-trans-dur ) visibility,
		0s transform;
}
.page:not( .show ),
#error:not( .show ),
#loader:not( .show ),
#error.show ~ .page,
#loader.show ~ .page {
	position: absolute;
	top: 0;
	width: 100%;
	visibility: hidden;
	opacity: 0;
}
.page:not( .show ) {
	transform: translateY( -1000% );
	transition:
		var( --page-trans-dur ) opacity,
		var( --page-trans-dur ) visibility,
		0s transform var( --page-trans-dur );
}

/* .......................................................................... */
#loader {
	position: absolute;
	z-index: 1;
	inset: 0 0 auto 0;
	height: 400px;
	display: flex;
	background: inherit;
	align-items: center;
	justify-content: center;
	font-size: 48px;
	transition: .2s;
	transition-property: opacity, visibility;
}

/* .......................................................................... */
#error {
	position: absolute;
	z-index: 1;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	background-color: var( --app-bg );
}
#errorLabel {
	opacity: .6;
}
#errorCode {
	font-size: 3em;
}

/* .......................................................................... */
#main-bg {
	position: fixed;
	top: 0;
	width: calc( 600px + 620px );
	height: 100%;
	margin-left: calc( 620px / -2 );
	opacity: .3;
}
.main-bg-island {
	position: absolute;
	background: center no-repeat;
	background-size: contain;
	filter: sepia( 100% ) hue-rotate( 220deg ) brightness( .6 );
}
.main-bg-island[ data-name="piano" ] { width: 200px; height: 300px; left:    50px; bottom: 180px; background-image: url( "../../assets/art/gs-piano-island.svg" );               }
.main-bg-island[ data-name="ipod"  ] { width: 150px; height: 300px; left:   -90px; bottom: 370px; background-image: url( "../../assets/art/gs-ipod-island.svg" );  opacity: .75; }
.main-bg-island[ data-name="ampli" ] { width: 200px; height: 300px; right:   50px; bottom: 120px; background-image: url( "../../assets/art/gs-ampli-island.svg" );               }
.main-bg-island[ data-name="tape"  ] { width: 180px; height: 300px; right: -100px; bottom: 260px; background-image: url( "../../assets/art/gs-tape-island.svg" );  opacity: .75; }
.main-bg-island[ data-name="drums" ] { width: 160px; height: 300px; right:   30px; bottom: 420px; background-image: url( "../../assets/art/gs-drums-island.svg" ); opacity: .60; }
