#root {
	--gscom-scroll: 0;
	--page-trans-dur: .3s;
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
	color: #fff;
}

#main {
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	margin: 0 auto;
	width: var( --main-width );
	max-width: 100%;
	min-height: 100vh;
	padding: 0 var( --main-padding );
}

/* .......................................................................... */
#pages {
	position: relative;
	flex: 1;
	margin-bottom: auto;
}
.page {
	display: flex;
	flex-direction: column;
	gap: var( --main-padding );
}

/* .......................................................................... */
.page,
#error,
#loader {
	transition:
		var( --page-trans-dur ) opacity,
		var( --page-trans-dur ) visibility,
		0s transform;
}
.page:not( .show ),
#error:not( .show ),
#loader:not( .show ),
#error.show ~ .page,
#loader.show ~ .page {
	position: absolute;
	top: 0;
	width: 100%;
	visibility: hidden;
	opacity: 0;
}
.page:not( .show ) {
	transform: translateY( -1000% );
	transition:
		var( --page-trans-dur ) opacity,
		var( --page-trans-dur ) visibility,
		0s transform var( --page-trans-dur );
}

/* .......................................................................... */
#loader {
	position: absolute;
	z-index: 1;
	inset: 0 0 auto 0;
	height: 400px;
	display: flex;
	background: inherit;
	align-items: center;
	justify-content: center;
	font-size: 48px;
	transition: .2s;
	transition-property: opacity, visibility;
}

/* .......................................................................... */
#error {
	position: absolute;
	z-index: 1;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	background-color: var( --app-bg );
}
#errorLabel {
	opacity: .6;
}
#errorCode {
	font-size: 3em;
}

/* .......................................................................... */
#bg {
	position: fixed;
	inset: 0;
	inset: auto 0 0;
	height: 300px;
	opacity: .4;
	justify-content: space-between;
}
#bg [ data-side ] {
	width: calc( ( 100% - var( --main-width ) ) / 2 );
	position: relative;
	filter: sepia( 100% ) hue-rotate( 220deg ) brightness( .6 );
}

.bg-island {
	position: absolute;
	bottom: calc( var( --b ) * ( 1 - .25 * var( --gscom-scroll ) ) );
	width: var( --w );
	height: 300px;
	margin-left: calc( var( --w ) / -2 );
	background: center no-repeat;
	background-size: contain;
}
.bg-island[ data-name="drums" ] { --w: 160px; --b: 420px; right: 150px; background-image: url( "../../assets/art/gs-drums-island.svg" ); opacity: .60; }
.bg-island[ data-name="piano" ] { --w: 200px; --b: 100px; right:  60px; background-image: url( "../../assets/art/gs-piano-island.svg" );               }
.bg-island[ data-name="ipod"  ] { --w: 150px; --b: 300px; right: 380px; background-image: url( "../../assets/art/gs-ipod-island.svg" );  opacity: .75; }
.bg-island[ data-name="ampli" ] { --w: 200px; --b: 130px; left:  150px; background-image: url( "../../assets/art/gs-ampli-island.svg" );               }
.bg-island[ data-name="tape"  ] { --w: 180px; --b: 280px; left:  400px; background-image: url( "../../assets/art/gs-tape-island.svg" );  opacity: .75; }

#bg-volcan {
	--b: -100px;
	position: absolute;
	right: 0;
	bottom: calc( var( --b ) * ( 1 - .25 * var( --gscom-scroll ) ) );
	max-width: 100%;
	width: 340px;
	height: 100%;
}
#bg-volcan img {
	position: absolute;
	top: -50px;
	width: auto;
	height: 100%;
	object-fit: contain;
}
