.userPageMenuLink {
	display: flex;
	align-items: center;
	gap: .5ch;
}
#userPage[ data-page="bin" ] #userPageNbCompositions,
#userPage:not( [ data-page="bin" ] ) #userPageNbCompositionsDeleted {
	opacity: .5;
}
#main:not( .premium ) #userPageNbCompositionsDeleted,
#userPage:not( .me ) #userPageNbCompositionsDeleted {
	display: none;
}

/* .......................................................................... */
#userPageCmps {
	flex-direction: column;
	gap: var( --main-padding );
}

/* .......................................................................... */
#userPage[ data-page="bin" ] gsui-com-player {
	opacity: .6;
	--gsui-bg: #fff4;
}

/* .......................................................................... */
#userPage[ data-page="" ] #userPageCmps:empty ~ #userPageCmpsPlaceholder,
#userPage[ data-page="edit" ] #userPageCmps:empty ~ #userPageCmpsPlaceholder,
#userPage[ data-page="bin" ] #userPageCmps:empty ~ #userPageCmpsDeletedPlaceholder {
	display: flex;
}
#userPage:not( .me ) #userPageCmpsPlaceholder .pageSectionPlaceHolder-text span:last-child {
	display: none;
}
#userPageCmpsPlaceholder .pageSectionPlaceHolder-draw::after {
	content: "";
	position: absolute;
	inset: auto 0 0;
	height: 40%;
	border-radius: 50%;
	background-color: #fff3;
}
#userPageCmpsDeletedPlaceholder .pageSectionPlaceHolder-draw::after {
	content: "";
	position: absolute;
	inset: auto 0 0;
	height: 40%;
	border-radius: 50%;
	background-color: #fff3;
}
