#cmpPageLikes {
	font-size: 12px;

	&:not( :empty )::before {
		content: "Liked by: ";
		opacity: .4;
	}
	a {
		font-weight: bold;
		opacity: .8;

		&:hover {
			text-decoration: underline;
			opacity: 1;
		}
	}
}
